.profile {
    height: auto !important;
    width: 100%;
    background-color: rgb(192, 192, 192);
}

.parentWork {
    margin: auto;
    height: 10vh;
    padding: 10px 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work1 {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 20px 10px; */
}

.work1 .sample1 {
    margin: 0 10px;
}

.work2 button {
    margin: 0 10px;
    border-radius: 0 !important;
}

.sample1 {
    cursor: pointer;
}

.sample1 .iconsSet {
    font-size: 30px;
}

.sample1 .workInfo {
    font-size: 20px !important;
}

.sample1 form input {
    border: 0.7px solid black;
    align-self: center;
    border-radius: 0;

}

.parentUpload {
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    height: 87vh;
    width: 100%;
}

.parentUpload .upload1,
.upload2 {
    width: 50%;
    height: 100%;
    margin: 0 10px;
    background-color: white;
}

.upload1,
.upload2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload1 .img1,
.upload2 .img1 {
    margin: 5px 0;

}

.dynamicHeight {
    height: 200px;
    width: 250px;
    border: 2px solid grey;
}

.dynamicHeight img,
.dynamicHeight video {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img1 button {
    border-radius: 0;
}

.buildProject {
    width: 100%;


}

.projectSetUp {
    position: relative;
    height: 270px;
    width: 300px;
    margin: auto !important;
    /* color:rgb(150, 40, 58); */
}



#atSmallBuildImg {
    height: 70% !important;
    width: 50% !important;
    object-fit: contain !important;
    /* border: 1px solid black; */
}

/* #projectSetUpSet2 {
    height: 270px;
    width: 300px;
} */

.projectSetUp img {
    height: 100%;
    width: 100% !important;
    object-fit: contain !important;
}

.projectSetUp video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
    opacity: 0.8 !important;
}

.cross p {
    font-size: 20px;
    color: white;
}

.closedThis {
    cursor: pointer;
}

.workBuild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    width: 100%;
}

.leftWork,
.rightWork {
    width: 50% !important;

}

@media screen and (max-width:767px) {
    .cssCustomized {
        width: 90% !important;
    }
}

@media screen and (max-width:665px) {
    .work1 {
        display: none;
    }

    .parentWork {
        justify-content: end;

    }

    .parentUpload {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .upload1,
    .upload2 {
        width: 100% !important;
    }

    .upload2 {
        margin: 10px auto;
    }

}



/* .rightWork {
    border: 1px solid black;
} */

/* #atSmallBuildImg1 {
    height: 250px !important;
    width: 300px !important;
} */

@media screen and (max-width:992px) {


    #atSmallBuildQr {
        height: 200px !important;
        width: 200px !important;

    }

    #atSmallBuildImg {
        height: 200px !important;
        width: 180px !important;
        object-fit: contain !important;
    }

    /* #atSmallBuildImg1 {
        height: 180px !important;
        width: 200px !important;
    } */


}



@media screen and (max-width:767px) {

    .leftWork,
    .rightWork {
        width: 100% !important;
        height: 25%;

    }

    .workBuild {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .cssCustomized2 {
        height: 90% !important;
        width: 85%;
        padding: 10px !important;
    }


    #atSmallBuildQr {
        height: 100px !important;
        width: 100px !important;

    }

    #atSmallBuildImg {
        height: 100px !important;
        width: 80px !important;
    }

    #atSmallBuildImg1 {
        height: 80px !important;
        width: 100px !important;
    }
}

@media screen and (max-width:563px) {



    .cssCustomized2 {
        height: 95% !important;
        width: 85%;
        padding: 10px !important;
    }

    #atSmallBuildQr {
        height: 100px !important;
        width: 100px !important;

    }

    #atSmallBuildImg {
        height: 100px !important;
        width: 80px !important;
    }

    #atSmallBuildImg1 {
        height: 80px !important;
        width: 100px !important;
    }

    .leftWork a {
        font-size: small !important;
        font-weight: 700;
    }
}

@media screen and (max-width:575px) {
    .marginMobileBtn {
        margin: 10px 0 !important;
    }

    .textMessageAreYouSure h5 b {
        font-size: 1.1rem !important;
    }

    #projectSetUpSet {
        height: 250px;
        width: 200px;
    }

    #projectSetUpSet2 {
        height: 200px;
        width: 250px;
    }
}